<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKRJzNth1k-2cjiPaan8ZfD1xgTEIsX1w</string>
	<key>GCM_SENDER_ID</key>
	<string>443611167599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cvapplyr.mobile</string>
	<key>PROJECT_ID</key>
	<string>cvapplyr-in</string>
	<key>STORAGE_BUCKET</key>
	<string>cvapplyr-in.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443611167599:ios:b41b8228cbe7a22f06069a</string>
</dict>
</plist>